:root {
  --primary: #0F3460;
  --dark: #1A1A2E;
  --navy: #16213E;
  --light: #F9F9F9;
  --accent: #E94560;
}

.container {
  @apply py-[40px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-between items-center gap-20;
  line-height: 1.5rem;
}

.item {
  @apply min-h-[400px] w-[330px] rounded-[20px] py-2 px-4 relative cursor-pointer col-span-1;
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
  background: linear-gradient(110deg, #16213E, #0F3460);
}

.item::after {
  @apply absolute top-[20px] left-[0] z-[2] h-[80%];
  content: "";
  border-style: solid;
  border-color: transparent transparent transparent #0F3460;
  border-width: 40px 40px 40px 50px;
  filter: drop-shadow(5px 0 4px #00000094);
}

.layer {
  background-color: #ffffff;
  border-radius: inherit;
  box-shadow:
    #00000012 0px 1px 2px,
    #00000012 0px 2px 4px,
    #00000012 0px 4px 8px,
    #00000012 0px 8px 16px,
    #00000012 0px 16px 32px,
    #00000012 0px 32px 64px;
  transition: left .2s;
  @apply p-[10px] left-[5px] relative h-[350px];
}

.heading3 {
  @apply text-2xl text-center font-bold;
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}

.para {
  @apply text-center text-[18px] mt-5;
  color: var(--primary);
}

.item:hover::after {
  filter: drop-shadow(5px 0 4px #0000001a);
}

.item:hover .layer {
  left: 50px;
}

.text-highlight {
  color: var(--accent);
}